@media screen and (min-width: 800px) {
  body {
    overflow-x: hidden;
  }

  main {
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 1440px;
    align-items: stretch;
    flex-direction: row;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 300px;
    height: 500px;
  }

  .sedan {
    border-radius: 10px 0 0 10px;
  }

  .luxury {
    border-radius: 0 10px 10px 0;
  }

  .container > div > p {
    width: 213px;
  }

  .btn {
    width: 120px;
  }
}
